 body{
    margin : 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
 }

 h1 {
   color: #66BFBF;
    margin-top: 0px;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    line-height: 2;

 }

 h2 {
   color: #66BFBF;
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   font-weight: normal;
 }

 h3 {
   font-family: 'Montserrat', sans-serif;
   color: #11999E;
 }

 a href {

 }

.top-container {
   background-color: #E4F9F5;
   position: relative;
   padding-top: 100px;
   padding-bottom: 340px;
}

.middle-container {
  
}

.bottom-container {

 
}

.skill-row {
   width: 50%;
   position: relative;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}

/* .red {
   height: 100px;
   width: 100px;
   background-color: red;
   position: absolute;
}

.blue {
   height: 100px;
   width: 100px;
   background-color: blue;
   position: absolute;
   left: 100px;
}

.yellow {
   height: 100px;
   width: 100px;
   background-color: yellow;
   position: absolute;
   left: 200px;
} */

.top-cloud {
   position: absolute;
   right: 300px;
   top: 50px;
}

.bottom-cloud  {
   position: absolute;
   left: 300px;
   bottom: 300px;
}

.keyboard {
   width: 25%;
   float: left;
   margin-right: 30px;
}

.dsa {
   width: 25%;
   float: left;
   margin-right: 30px;
}