 body{
    margin : 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
 }

 h1 {
   color: #66BFBF;
    margin-top: 0px;
    font-family: 'Sacramento', cursive;

 }

 h2 {
   color: #66BFBF;
   font-family: 'Montserrat', sans-serif;
 }

 h3 {
   font-family: 'Montserrat', sans-serif;
   color: #11999E;
 }

 a href {

 }

.top-container {
   background-color: #E4F9F5;
   position: relative;
   padding-top: 100px;
}

.middle-container {
  
}

.bottom-container {

 
}

/* .red {
   height: 100px;
   width: 100px;
   background-color: red;
   position: absolute;
}

.blue {
   height: 100px;
   width: 100px;
   background-color: blue;
   position: absolute;
   left: 100px;
}

.yellow {
   height: 100px;
   width: 100px;
   background-color: yellow;
   position: absolute;
   left: 200px;
} */

.top-cloud {
   position: absolute;
   right: 300px;
   top: 50px;
}

.bottom-cloud  {
   position: absolute;
   left: 300px;
   bottom: 300px;
}

